/.vs
/SourceCode/Sop.Common.Img/obj
/SourceCode/Sop.Common.Img/bin
/SourceCode/Tests/Sop.Common.Img.Tests/obj
/SourceCode/Tests/Sop.Common.Img.Tests/bin
/SourceCode/Sop.Common.Img.Tests/bin
/SourceCode/Sop.Common.Img.Tests/obj
/*.user
