/.vs
/SourceCode/Sop.Common.Img/obj
/SourceCode/Sop.Common.Img/bin
/SourceCode/Tests/Sop.Common.Img.Tests/obj
/SourceCode/Tests/Sop.Common.Img.Tests/bin
/SourceCode/Sop.Common.Img.Tests/bin
/SourceCode/Sop.Common.Img.Tests/obj
/*.user
/src/.vs
/src/_ReSharper.Caches/ReSharperPlatformVs16202_5e76c5bd.Sop.00
/src/Sop.Common.Img/obj
/src/Sop.Common.Img/bin
/src/Sop.Common.Img.Tests/bin
/src/Sop.Common.Img.Tests/obj
/src/Tesseract/obj
/src/Tesseract/bin
